
.numui {
  border-radius: 20px;
  background: #6E6EEB;
  box-shadow: 5px 5px 10px #5e5ec8,
  -5px -5px 10px #7f7fff;
}

.numuiCollapse {
  border-radius: 20px;
  background: #7777E2;
  box-shadow: inset 5px 5px 10px #6565c0,
  inset -5px -5px 10px #8989ff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #9B9BF1;
  box-shadow: inset 5px 5px 10px #8484cd,
  inset -5px -5px 10px #b2b2ff
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #FFFFFF;
}

.logo {
  @extend .numui;
  height: 5vh;
  width: 23vw;
  padding: 5px 5px 5px 8px;
  margin-left: 1.5rem;
}

.newMusicItem {
  @extend .numui;
  border-radius: 10px;
  color: white;
}

