
.numui {
  border-radius: 20px;
  background: #f7db50;
  box-shadow: 5px 5px 10px #aa9737,
  -5px -5px 10px #ffff69;
}

.numuiCollapse {
  border-radius: 20px;
  background: #f7db50;
  box-shadow: inset 5px 5px 10px #aa9737,
  inset -5px -5px 10px #ffff69;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #F7DC4F;
  box-shadow: inset 5px 5px 10px #aa9837,
  inset -5px -5px 10px #ffff67;
}

.logo {
  @extend .numui;
  height: 5vh;
  width: 23vw;
  padding: 5px 5px 5px 8px;
  margin-left: 1.5rem;
}

.newMusicItem {
  @extend .numui;
  border-radius: 10px;
}

