
.numui {
  border-radius: 20px;
  background: linear-gradient(145deg, #ffeb55, #dec647);
  box-shadow: 5px 5px 10px #aa9837,
  -5px -5px 10px #ffff67;
}

.numuiCollapse {
  border-radius: 20px;
  background: #F7DC4F;
  box-shadow: inset 5px 5px 10px #aa9837,
  inset -5px -5px 10px #ffff67;
}

.title {
  border-radius: 15px;
  background: #F7DC4F;
  box-shadow: inset 5px 5px 10px #aa9837,
  inset -5px -5px 10px #ffff67;
}

.logo {
  @extend .numui;
  height: 5vh;
  width: 23vw;
  padding: 5px 5px 5px 8px;
  margin-left: 1.5rem;
}


